// tslint:disable-next-line:no-unused-variable
import { TxData, TxDataPayable } from "ethereum-types";
import { BigNumber, classUtils } from "@0x/utils";
import { ethers } from "ethers";
import { TransactionResponse } from "@ethersproject/abstract-provider";
import { BaseContract } from "./base_contract";

export class {{contractName}}Contract extends BaseContract {
{{#each methods}}
    {{#this.constant}}
    {{> call contractName=../contractName}}
    {{/this.constant}}
    {{^this.constant}}
    {{> tx contractName=../contractName}}
    {{/this.constant}}
{{/each}}
    constructor(ethersContractInstance: ethers.Contract, defaults: Partial<TxData>) {
        super(ethersContractInstance, defaults);
        classUtils.bindAll(this, ["ethersContractInstance", "defaults"]);
    }
} // tslint:disable:max-file-line-count
