public {{this.name}} = {
    async callAsync(
    {{> typed_params inputs=inputs}}
        txData: Partial<TxData> = {},
    ): Promise<{{> return_type outputs=outputs }}> {
        const self = this as {{contractName}}Contract;

        const result: {{> return_type outputs=outputs}} = 
            await self.ethersContractInstance.functions.{{this.name}}(
                {{> params inputs=inputs}} 
                txData
            );

        return result;
    },
};
