public {{this.name}} = {
    async callAsync(
    {{> typed_params inputs=inputs}}
        txData: Partial<TxData> = {},
    ): Promise<{{> return_type outputs=outputs }}> {
        const self = this as {{contractName}}Contract;
        const ethersInputs = self.convertEthersInputs(
            {{> params inputs=inputs}}
        )
        const ethersTxData = utils.convertTxDataToEthers(txData);

        const result: any[] = 
            await self.ethersContractInstance.functions.{{this.name}}(
                ...ethersInputs, 
                ethersTxData
            );

        const convertedResult: {{> return_type outputs=outputs}} = self.convertEthersOutputs(result);

        return convertedResult;
    },
};
